@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- CSS Variables ---------- */

:root
{
    --text-color: black;
    --second-color: white;
    --main-color: #efefef;
    --placeholder-color: none;
    --infotext-color: rgb(145, 145, 145);
    --arrow-color: black;
    --alert-color: #cce5ff;
    --scrollbar-color: rgb(170, 169, 169);
}

.dark-theme
{
    --text-color: white;
    --second-color: #1e1e1e;
    --main-color: #2d2d30;
    --placeholder-color: lightgray;
    --infotext-color: rgb(109, 109, 109);
    --arrow-color: white;
    --alert-color: #007bff;
    --scrollbar-color: rgb(80, 80, 80);
}

/* ---------- CSS Variables ---------- */

*
{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--text-color) !important;
}

::-webkit-scrollbar
{
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb
{
    background: var(--scrollbar-color);
    border-radius: 100px;
}

/* ---------- Color settings ---------- */

.colorSecond
{
    background-color: var(--second-color) !important;
}

.colorSecondHover:hover
{
    background-color: var(--main-color) !important;
}

.homepageResponsiveColor
{
    background-color: var(--second-color) !important;
}

main, body, .colorSecondBorder .themeSwitch
{
    background-color: var(--main-color) !important;
}

.buttonsHome:hover
{
    background-color: var(--main-color) !important;
}

.backgroundTransparant::placeholder 
{
    color: var(--placeholder-color);
}

.buttons:hover
{
    background-color: var(--main-color);
}

.iconNavBarColor
{
    color: var(--text-color) !important;
}

.colorPlaceholder
{
    color: var(--placeholder-color);
}

/* ---------- Color settings ---------- */

/* ---------- General ---------- */

select, textarea, input
{
    border-radius: 0.375rem;
    background: none;
}

.backgroundTransparant
{
    background: none;
}

.backgroundTransparant:focus 
{
    background: none;
}

.buttons
{
    border: none !important;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    transition: 0.5s;
}

.colorFirst
{
    font-size: 15px;
}

.colorFirst i 
{
    font-size: 20px;
}

.textColor
{
    color: black;
}

/* ---------- General ---------- */

/* ---------- Homepage ---------- */

.welcomeText 
{
    font-size: 1.75rem;
    letter-spacing: 2px; 
}

/* ---------- Homepage ---------- */

/* ---------- Navbar ---------- */

.btnCreate
{
    letter-spacing: 1px;
}

.iconCreate
{
    margin-right: 8px;
    font-size: 15px !important;
}

.icon
{
    width: 25px;
    cursor: pointer;
}

.iconNavBar
{
    margin-right: 8px;
    font-size: 15px !important;
}


.nav-profile-img 
{
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    object-fit: cover; 
}

.borderNavDropdown
{
    border-radius: 3px;
}

.borderNav 
{
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);
}

#logo 
{
    cursor: pointer; 
}

/*  ---------- Navbar  ---------- */

/*  ---------- Login / Register  ---------- */

.loginRegistrationButton
{
    width: 50% !important;
}

/*  ---------- Login / Register  ---------- */

/*  ---------- Profile page  ---------- */

.pictureInput
{
    margin: 10px 0px 20px 0px;
}

.imageLoginRegistration
{
    margin-top: -25px;
}

.pictureImg
{
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    border: 2px solid;

    min-width: 230px;
    min-height: 230px;
    max-width: 230px;
    min-width: 230px;
}

.textColorCancel, i
{
    color: black !important;
}

.custom-file-upload 
{
    cursor: pointer;
}

.custom-file-upload input[type="file"] 
{
    display: none;
}

/*  ---------- Profile page  ---------- */

/*  ---------- Create portfolio page  ---------- */

.colorCheckBox {
    color: black !important;
}

.btnUploadPicture {
    letter-spacing: 1px;
    font-weight: normal !important;
}

.textInfoPrivacy {
    font-size: 13px;
    color: var(--infotext-color) !important;
}

.btnCreatePortfolio {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 50px;
    padding-right: 50px;
}

.aboutCreatePortfolio {
    background: none;
    border-color: #6b7280;
    border-width: 1px;
}

.aboutCreatePortfolio:focus {
    background: none;
    border-color: #2563eb;
    border-width: 1px;
}

.containerCreate {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center; 
}

.divCreatePage {
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto; 
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-container input,
.input-container textarea {
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.input-container input[type="file"] {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
}

.divImgCreate {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto; 
    margin-bottom: 20px;
}

#picture-preview {
    max-height: 230px;
    max-width: 230px;
    min-height: 230px;
    min-width: 230px;
}

/* Styling for the container with 4 images */
.img-container-four {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 960px;
}

.img-container-four .col-md-6 {
    width: 23%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-container-four .col-md-6 img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.img-container-four .col-md-6 img.clicked {
    max-width: 100%;
    border: 6px solid blue;
}

.divImgChoose
{
    max-width: 900px !important;
}

/* Styling for the container with 6 images */
.img-container-six {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 850px; /* Match divImgChoose */
}

.img-container-six .col-md-6 {
    width: 31%; /* Three images per row */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-container-six .col-md-6 img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.img-container-six .col-md-6 img.clicked {
    max-width: 100%;
    border: 6px solid blue;
}

/* .input-container.colorSecond.divImgCreate {
    display: none;
} */

/*  ---------- Create portfolio page  ---------- */

/* ---------- About ---------- */

.about-section 
{
    padding: 50px 0;
}

.about-heading 
{
    margin-bottom: 30px;
}

.about-card 
{
    background-color: var(--second-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-card img 
{
    border-radius: 5px;
    margin-bottom: 20px;
}

.about-card h1 
{
    margin-bottom: 20px;
    font-size: 24px;
}

.about-card hr 
{
    margin: 20px auto;
}

.about-description 
{
    font-size: 18px;
    line-height: 1.6;
    text-align: justify; 
}

/* ---------- About ---------- */

/* ---------- Contact ---------- */

.alertSuccess
{
    background-color: var(--alert-color);
    color: var(--text-color);
    margin-bottom: -20px;
}

.marginErrorsMessages
{
    margin: -10px 0px 10px 0px;
    font-size: 12px;
    color: red !important;
}

/* ---------- Contact ---------- */

/* ---------- Footer ---------- */

footer 
{
    position: fixed;
    bottom: 0;
}

.footer-distributed 
{
    background-color: var(--second-color);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 30px 40px 30px 40px;
    margin-top: 80px;
}

.textColorFooter
{
    color: var(--text-color) !important;
}

#footer-logo
{
    height: 70px;
    width: 70px;
    margin-left: -10px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right 
{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-links 
{
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a 
{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.footer-distributed .footer-company-name 
{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    
}

.footer-distributed .footer-left 
{
    width: 25%;

    margin-left: 50px;
}

.footer-distributed .footer-center 
{
    width: 35%;
}

.footer-distributed .footer-right 
{
    margin-top: 12px;
    width: 35%;
}

.footer-distributed .footer-center .iconFooter 
{
    background-color: var(--main-color);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.iconFooter
{
    color: var(--text-color) !important;
}

.footer-distributed .footer-center i.fa-envelope 
{
    font-size: 22px;
    line-height: 38px;
}

.footer-distributed .footer-center p 
{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span 
{
    display: block;
    font-weight: normal;
}

.footer-distributed .footer-center p a 
{
    color: #e0ac1c;
    text-decoration: none;
}

.footer-distributed .footer-company-about 
{
    line-height: 20px;
    color: #92999f;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span 
{
    display: block;
    font-size: 21px;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons 
{
    margin-top: 25px;
}

.footer-distributed .footer-icons a 
{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* ---------- Footer ---------- */

/* ---------- Responsive ---------- */

@media (max-width: 1024px) 
{
    .welcomeText 
    {
        font-size: 1.5rem; 
    }
}

@media (max-width: 880px) 
{
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right 
    {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i 
    {
        margin-left: 0;
    }
    .footer-distributed .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-left: 0px;
    }
    .footer-distributed .footer-left #footer-logo {
        margin-left: 0; 
        margin-bottom: 20px; 
    }
}

@media (max-height:800px) 
{
    footer 
    {
        position: static;
    }

    header 
    {
        padding-top: 40px;
    }
}



@media (max-width: 768px) 
{
    .welcomeText 
    {
        font-size: 1.25rem; 
    }

    .btnHomepageNav
    {
        margin-left: -10px !important;
    }

    .iconThemeNavBar
    {
        margin-right: -10px !important;
    }
}

@media (max-width: 640px) 
{
    .aboutButton
    {
        margin-top: 10px;
    }

    .iconThemeNavBar
    {
        margin-right: 10px !important;
    }
}

@media (max-width: 576px) 
{
    .colorSecond {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) 
{
    .welcomeText 
    {
        font-size: 1rem; 
    }
}

/* ---------- Responsive ---------- */