@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --text-color: black;
    --second-color: white;
    --hover-color: lightgray;
    --main-color: #efefef;
    --placeholder-color: none;
}

.dark-theme
{
    --text-color: white;
    --second-color: #1e1e1e;
    --hover-color: #252526;
    --main-color: #2d2d30;
    --placeholder-color: lightgray;
}

*
{
    font-family: "Radio Canada Big", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--text-color) !important;
}

.colorSecond
{
    background-color: var(--second-color) !important;
}

.colorSecondHover:hover
{
    background-color: var(--hover-color) !important;
}

.colorSecondBorder
{
    background-color: var(--hover-color) !important;
}

main, body, main
{
    background-color: var(--main-color) !important;
}

.themeSwitch
{
    background-color: var(--main-color) !important;
}

.buttonsHome:hover
{
    background-color: var(--main-color) !important;
}

.backgroundTransparant::placeholder 
{
    color: var(--placeholder-color);
}











#icon
{
    width: 30px;
    cursor: pointer;
}

select, textarea, input
{
    border-radius: 0.375rem;
    background: none;
}

.backgroundTransparant
{
    background: none;
}

.backgroundTransparant:focus 
{
    background: none;
}

.loginRegistrationButton
{
    width: 50% !important;
}

.genderDropdown
{
    border: 1px solid #6b7280;
}

.borderNavDropdown
{
    border-radius: 3px;
}

.colorFirst
{
    font-size: 18px;
}

.welcomeText 
{
    font-size: 30px;
    letter-spacing: 2px; 
    font-family: 'Roboto', sans-serif; 
}

.borderNav 
{
    position: relative;
}

.textColor
{
    color: black;
}

.pictureInput
{
    margin: 10px 0px 20px 0px;
}

.imageLoginRegistration
{
    margin-top: -25px;
}

.pictureImg
{
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    border: 2px solid;

    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
}

.custom-file-upload 
{
    cursor: pointer;
}

.custom-file-upload input[type="file"] 
{
    display: none;
}